<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            {% if user-id %}
            <li><a class="btn btn-success" href="/auth/logout">({{user-id}}) Logout</a></li>
            {% else %}
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Register</a></li>
            {% endif %}
        </ul>
        <h3 class="text-muted">Corum</h3>
    </div>
    {% block content %}
    <div class="jumbotron"><h1>Corum</h1>

        <h3>Welcome anonymous</h3>
        <p class="lead">Corum is a community driven forum application</p>
        <p><a class="btn btn-lg btn-success" href="/auth/register" role="button">Sign-Up Today</a></p></div>
    <br>
    {% endblock %}
    <br>
    <div class="footer">
        <p>&copy; 2013 Hisham Ismail. All rights Reserved.</p>
    </div>
</div>
</body>
</html>